<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  
  <title>CM Portal {% block title %}{% endblock %}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="web_author" content="Ryan D. Salvador" />
  <meta name="description" content="CM Portal is a Django App that aims to handle the RDBMS needs of a nursing home.
                                    GNU GPL v3 licensed so feel free to customize it according to your needs.
                                    Source is available at http://gitlab.com/salvadorrye/cm_portal" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{% static 'images/emblem.jpg' %}" type="image/x-icon">  
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- Add additional CSS in static file -->  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">Camillus MedHaven Portal</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% block nav_others %}{% endblock %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'nursing-home-index' %}">Nursing Home</a>
              </li>
              <li>
                <a href="{% url 'hris-index' %}">HRIS</a>
              </li>
              <li>
                <a href="{% url 'inventory-index' %}">Inventory</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">About</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>          
        </ul>  
        {% block search_form %}{% endblock %}               
      </div>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <ul class="sidebar-nav">
          <a href="{% url 'index' %}">
            <img src="{% static 'images/21.jpg' %}" alt="Camillus MedHaven Logo" width = "100" height = "150">          
          </a>
          {% block sidebar %}{% endblock %}
        </ul>
      </div>
      <div class="col-sm-10 ">
      <h1><a href="{% url 'index' %}">CM Portal </a>{% block page_title %}{% endblock %}</h1>
      {% block content %}{% endblock %}
      {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
      </div>
    </div>
  </div>  
  {% block javascript %}{% endblock %}
  <footer>
      {% block footer%}
        <hr>
        <a href="{% url 'nursing-home-index' %}">Nursing Home</a> | 
        <a href="{% url 'hris-index' %}">HRIS</a> | 
        <a href="{% url 'inventory-index' %}">Inventory</a>
        <p>Caring with Hearts in our Hands</p>      
      {% endblock %}                
  </footer>
</body>
</html>