{% extends 'cm_portal/index.html' %}

{% block title %}| Central Supplies{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'cm_portal/nav_csu.html' %}
{% endblock %}

{% block sidebar %}
  <p></p>  
  {% include 'cm_portal/user.html' %}    
  <li class="nav-item"><a class="nav-link" href="{% url 'items' %}">All items</a></li>  
  <li class="nav-item"><a class="nav-link" href="{% url 'medical-supplies' %}">All medical supplies</a></li>  
  <li class="nav-item"><a class="nav-link" href="{% url 'medical-equipments' %}">All medical equipment</a></li>    
{% endblock %}

{% block page_title %}| Central Supplies{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Central Supplies Database</em>,
        where you can store inventories of medical supplies and medical equipments.
      </h2>
      <h3>Dynamic content</h3>
      <p>The library has the following record counts:</p>
      
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Items</strong>        
        <span class="badge badge-primary badge-pill">{{ item_list.count }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Medical supplies</strong> 
        <span class="badge badge-primary badge-pill">{{ medicalsupply_list.count }}</span>
      </li>            
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Medical equipment</strong> 
        <span class="badge badge-primary badge-pill">{{ medicalequipment_list.count }}</span>
      </li>            
    </ul>
    </div>
  {% else %}  
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}
{% endblock %}