{% extends "cm_portal/hris_index.html" %}

{% block title %}| Department{% endblock %}

{% block page_title %}| Department{% endblock %}

{% block content %}
  <h2>Name: {{ department.name }}</h2>
    
  <table class="table table-hover">
    <tr>
      <td><strong>Department: </strong>{{ department.name }}</td>          
    </tr>
    <tr>
      <td><strong>Description: </strong>{{ department.description }}</td>
    </tr>
  </table>    
  <a class="btn btn-primary" href="{% url 'department-update' department.id %}" role="button">Edit</a>  
  <a class="btn btn-danger" href="{% url 'department-delete' department.id %}" role="button">Delete</a>
{% endblock %}