{% extends "cm_portal/hris_index.html" %}

{% block title %}| Department{% endblock %}

{% block page_title %}| Department{% endblock %}

{% block content %}
  <div class="jumbotron"><h2>Name: {{ department.name }}</h2>
    
  <div class="table-responsive"><table class="table table-hover">
    <tr>
      <td><strong>Department: </strong>{{ department.name }}</td>          
    </tr>
    <tr>
      <td><strong>Description: </strong>{{ department.description }}</td>
    </tr>
  </table></div>  
  {% if perms.cm_portal.change_department and perms.cm_portal.delete_department %}  
    <a class="btn btn-primary" href="{% url 'department-update' department.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'department-delete' department.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_department %}
    <a class="btn btn-primary" href="{% url 'department-update' department.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'department-delete' department.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'department-update' department.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'department-delete' department.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}