{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Drugs{% endblock %}

{% block page_title %}| List of Drugs{% endblock %}

{% load static %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-drugs' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block sidebar %}
    <p></p>
    {% if user.is_authenticated %}
      {% include 'cm_portal/user.html' %}
    {% endif %}    
    <li class="nav-item"><a class="nav-link" href="{% url 'residents' %}">All residents</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'relatives' %}">All relatives</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'physicians' %}">All physicians</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>    
    <li class="nav-item"><a class="nav-link active" href="{% url 'drugs' %}">All drugs</a></li>            
    <hr>
    <li class="nav-item"><strong>Archive</strong></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'residents-deceased' %}">Deceased residents</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'residents-discharged' %}">Discharged residents</a></li>
    <hr>
    <li class="nav-item"><strong>Reports</strong></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'residents' %}?reports=maintenance">Inventory of Medicines</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'residents' %}?reports=osca">OSCA Numbers</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Spiritual Profile</a></li>
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if drug_list %}    
    <div class="list-group">
      {% for drug in drug_list %}
        {% include 'cm_portal/drug_list_item.html' %}
      {% endfor %}
    </div>
    {% else %}
      <p>There are no drugs in the portal.</p>  
  {% endif %}
  <br>  
  {% if perms.cm_portal.add_drug %}
    <a class="btn btn-primary" href="{% url 'drug-create' %}" role="button">Add a drug</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'drug-create' %}" role="button">Add a drug</a>
  {% endif %}
  </div>
{% endblock %}