{% extends "cm_portal/hris_index.html" %}

{% block title %}| List of Employees{% endblock %}

{% block page_title %}| List of Employees{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if employee_list %}    
    <ul class="list-group">
      {% for employee in employee_list %}
        <li class="list-group-item">
          <a href="{{ employee.get_absolute_url }}">
            {{ employee.last_name }}, {{ employee.first_name }}
            {% if employee.middle_name %}
              {{ employee.middle_name|first }}.            
            {% endif %}        
          </a>               
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no employees in the portal.</p>
  </div>
  {% endif %}       
{% endblock %}