{% extends 'cm_portal/index.html' %}

{% block title %}| Geriatric Section{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'cm_portal/nav_geria.html' %}
{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
      {% include 'cm_portal/user.html' %}
    {% endif %}    
    <li><a href="{% url 'residents' %}">All residents</a></li>
    <li><a href="{% url 'relatives' %}">All relatives</a></li>    
    <li><a href="{% url 'physicians' %}">All physicians</a></li>
    <li><a href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>
    <li><a href="{% url 'relationships' %}">All relationships</a></li>
    <li><a href="{% url 'drugs' %}">All drugs</a></li>            
    <hr>
    <li><strong>Archive</strong></li>
    <li><a href="{% url 'residents-deceased' %}">Deceased residents</a></li>
    <li><a href="{% url 'residents-discharged' %}">Discharged residents</a></li>
    <hr>
    <li><strong>Reports</strong></li>    
    <li><a href="{% url 'maintenance' %}">Inventory of Medicines</a></li>
{% endblock %}

{% block page_title %}| <a href="#">Geriatric Section</a>{% endblock %}

{% block searchbar %}
	<div class="input-group mb-3">
		<form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'search' %}">
			<div class="input-group-prepend">
				<button type="submit" class="btn btn-secondary my-2 my-sm-0">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
			<input class="form-control" name="query" placeholder="Search" type="text" size="32" required id="id_query">
			<div class="input-group-append">
				<select class="custom-select" name="model" id="model">
					<option value="resident" selected>Residents</option>
					<option value="relative">Relatives</option>
					<option value="physician">Physicians</option>
					<option value="drug">Drugs</option>
				</select>			
			</div>
		</form>
	</div>
{% endblock %}
   
{% block content %}   	
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Geriatrics Database</em>, where you can store resident profiles and other related information.
      </h2>
      <h3>Dynamic content</h3>
      <p>The library has the following record counts:</p>      
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Residents</strong>
          <span class="badge badge-primary badge-pill">{{ resident_list.count }}</span> 
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Physicians</strong>
          <span class="badge badge-primary badge-pill">{{ physician_list.count }}</span> 
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Relatives</strong>
          <span class="badge badge-primary badge-pill">{{ relative_list.count }}</span>
        </li>
      </ul>    
      <br>  
      <p>Census by building:</p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>Blessed Enrico Rebuschini</strong>                           
          <span class="badge badge-primary badge-pill">{{ census_rebuschini }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>Blessed Luigi Tezza</strong>          
          <span class="badge badge-primary badge-pill">{{ census_luigi }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>St. Camillus Building-First floor</strong>          
          <span class="badge badge-primary badge-pill">{{ census_first_floor }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>St. Camillus Building-Second floor</strong>          
          <span class="badge badge-primary badge-pill">{{ census_second_floor }}</span>
        </li>
      </ul>
    </div>
  {% else %}
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}  
{% endblock %}