{% extends 'cm_portal/index.html' %}

{% block title %}| HRIS{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'cm_portal/nav_hris.html' %}
{% endblock %}

{% block sidebar %}
  <p></p>  
  {% include 'cm_portal/user.html' %}    
  <li class="nav-item"><a class="nav-link" href="{% url 'employees' %}">All employees</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'positions' %}">All positions</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">All departments</a></li>  
{% endblock %}

{% block page_title %}| HRIS{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Human Resource Information System</em>,
        where you can store employees profiles and other recruitment-related information.
      </h2>
      <h3>Dynamic content</h3>
      <p>The library has the following record counts:</p>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Employees</strong> 
        <span class="badge badge-primary badge-pill">{{ employee_list.count }}</span>
      </li> 
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Positions</strong> 
        <span class="badge badge-primary badge-pill">{{ position_list.count }}</span>
      </li> 
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Departments</strong> 
        <span class="badge badge-primary badge-pill">{{ department_list.count }}</span>
      </li>      
    </ul>
    </div>
  {% else %}  
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}
{% endblock %}