{% extends 'cm_portal/base.html' %}

{% block title %}| Home{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'cm_portal/nav-base.html' %}
{% endblock %}

{% block sidebar %} 
    {% if user.is_authenticated %}
      <li>User: {{ user.get_username|capfirst }}</li>
      <li><a href="{% url 'logout'%}">Logout</a></li> 
    {% endif %}
    <hr>  
    <li><a href="{% url 'geriatric-index' %}">Geriatric</a></li>
    <li><a href="{% url 'hris-index' %}">Human Resource</a></li>
    <li><a href="{% url 'csu-index' %}">Central Supplies</a></li>
{% endblock %}
     
{% block page_title %}| Home{% endblock %}

{% block content %}       
  <div class="jumbotron">
  <h1>Welcome {{ user.get_username|capfirst }} to <em>Camillus MedHaven Portal!</em></h1>
  <p>You are on your Dashboard</p>  
  </div>  
{% endblock %}

{% block footer %}
  {% include 'cm_portal/footer-base.html' %}
{% endblock %}