{% extends 'cm_portal/base.html' %}

{% block title %}| Home{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'cm_portal/nav_base.html' %}
{% endblock %}

{% block sidebar %} 
  <p></p>    
  {% include 'cm_portal/user.html' %}
  <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Logout</a></li>
  <hr>
  <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>  
  <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Change password</a></li> 
{% endblock %}
     
{% block page_title %}| Home{% endblock %}

{% block content %}       
  <div class="jumbotron">
  <h1>Welcome {{ user.get_username|capfirst }} to <em>Camillus MedHaven Portal!</em></h1>
  <p>You are on your Dashboard</p>  
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
  <div class="card-body wow slideInLeft">
    <h4 class="card-title"><i class="fas fa-hand-holding-heart"></i> <a href="{% url 'geriatric-index' %}">Geriatric</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">Database</h6>
    <p class="card-text">Contains information regarding residents.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
      <div class="card">
  <div class="card-body wow slideInUp">
    <h4 class="card-title"><i class="fas fa-fingerprint"></i> <a href="{% url 'hris-index' %}">HRIS</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">Human Resource Information System</h6>
    <p class="card-text">Contains information on employees and other work-related information.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
      <div class="card">
  <div class="card-body wow slideInRight">
    <h4 class="card-title"><i class="fas fa-parachute-box"></i> <a href="{% url 'csu-index' %}">CSU</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">Central Supplies Unit</h6>
    <p class="card-text">Inventory of medical supplies and medical equipment.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </div>
  </div>
  </div>  
{% endblock %}

{% block footer %}
  {% include 'cm_portal/footer_base.html' %}
{% endblock %}