{% extends "cm_portal/csu_index.html" %}

{% block title %}| Item{% endblock %}

{% block page_title %}| Item{% endblock %}
{% block content %}  
  <div class="jumbotron"><div class="table-responsive"><table class="table table-hover">
    <thead><h2>{{ item.item_name|capfirst }}</h2></thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>   
      <th>Manufacturer</th>   
      <th>Description</th>
    </tr>
    <tr>
      <td>{{ item.item_name }}</td>
      <td>{{ item.brand_name }}</td>      
      <td>{{ item.manufacturer }}</td>
      <td>{{ item.description }}</td>
    </tr>   
     
  </table></div>  
  {% if item.medicalsupply_set.all %}
    <h4>Medical Supply</h4>
    <div style="margin-left:20px;margin-top:20px">
      {% for medical_supply in item.medicalsupply_set.all %}
      <hr>     
      {{ medical_supply.unit_of_measure|capfirst }}</p>
      <p><strong>Date acquired: </strong>{{ medical_supply.date_acquired }}</p>
      <p><strong>Expiration date: </strong>{{ medical_supply.expiration_date }}</p>
      <p><strong>Stocks available: </strong>{{ medical_supply.stocks_available }}
      <p class="text-muted"><strong>Id: </strong> {{ medical_supply.id}}</p>      
      {% endfor %}    
    </div>    
  {% elif item.medicalequipment_set.all %}
    <h4>Medical Equipment</h4>
    <div style="margin-left:20px;margin-top:20px">    
      {% for medical_equipment in item.medicalequipment_set.all %}
      <hr>      
      <p class="{% if medical_equipment.status == 'a' %}text-success{% elif medical_equipment.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
      {{ medical_equipment.get_status_display }}</p>
      {% if medical_equipment.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{medical_equipment.due_back}}</p>
      {% endif %}            
      <p><strong>Date acquired: </strong>{{ medical_equipment.date_acquired }}</p>
      <p class="text-muted"><strong>Id: </strong>{{ medical_equipment.id }}</p>
      {% endfor %}    
    </div>
  {% endif %}      
  {% if perms.cm_portal.change_item and perms.cm_portal.delete_item %} 
    <a class="btn btn-primary" href="{% url 'item-update' item.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'item-delete' item.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_drug %}
    <a class="btn btn-primary" href="{% url 'item-update' item.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'item-delete' item.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'item-update' item.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'item-delete' item.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}