{% extends "cm_portal/csu_index.html" %}

{% block title %}| List of Items{% endblock %}

{% block page_title %}| List of Items{% endblock %}

{% load static %}

<!-- {% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-drugs' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %} -->

{% block sidebar %}
  <p></p>
  {% if user.is_authenticated %}
    {% include 'cm_portal/user.html' %}
  {% endif %}  
  <li class="nav-item"><a class="nav-link active" href="{% url 'items' %}">All items</a></li>  
  <li class="nav-item"><a class="nav-link" href="{% url 'medical-supplies' %}">All medical supplies</a></li>  
  <li class="nav-item"><a class="nav-link" href="{% url 'medical-equipments' %}">All medical equipment</a></li>    
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if item_list %}    
    <ul class="list-group">
      {% for item in item_list %}
        <li class="list-group-item">
        {% if item.brand_name %}
        <h4 class="list-group-item-heading">{{ item.brand_name }}</h4>
        {% endif %}
        <a href="{{ item.get_absolute_url }}">{{ item.item_name }}</a>          
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no items in the portal.</p>  
  {% endif %}  
  <br>
  {% if is_paginated %}
    {% include 'cm_portal/pagination.html' %}
  {% endif %}
  {% if perms.cm_portal.add_item %}
    <a class="btn btn-primary" href="{% url 'item-create' %}" role="button">Add item</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'item-create' %}" role="button">Add item</a>
  {% endif %}
  </div>
{% endblock %}