{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Residents with Medical Abstracts{% endblock %}

{% block page_title %}| List of Residents with Medical Abstracts{% endblock %}

{% load static %}

{% block sidebar %}
    <p></p>
    {% if user.is_authenticated %}
      {% include 'cm_portal/user.html' %}
    {% endif %}    
    <li class="nav-item"><a class="nav-link" href="{% url 'residents' %}">All residents</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'relatives' %}">All relatives</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'physicians' %}">All physicians</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'drugs' %}">All drugs</a></li>            
    <hr>    
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archive</a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
	      <a class="dropdown-item" href="{% url 'residents-deceased' %}">Deceased residents</a>
	      <a class="dropdown-item" href="{% url 'residents-discharged' %}">Discharged residents</a>
	    </div>
    </li>
    <hr>        
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
		    <a class="dropdown-item" href="{% url 'residents' %}?reports=maintenance">Inventory of Medicines</a>
		    <a class="dropdown-item" href="{% url 'residents' %}?reports=osca">OSCA Numbers</a>
		    <a class="dropdown-item" href="#">Spiritual Profile</a>
	    </div>
    </li>
{% endblock %}

{% block content %}  
  {% if medicalabstract_list %}    
    <div class="list-group">
      {% for medicalabstract in medicalabstract_list %}      
          {% include "cm_portal/resident_list_item.html" with resident=medicalabstract.resident building=True %}                     
      {% endfor %}
    </div>
    {% else %}
      <p>There are no medical abstracts in the portal.</p>  
  {% endif %}
  <br> 
  {% if is_paginated %}
    {% include 'cm_portal/pagination.html' %}
  {% endif %} 
  {% if perms.cm_portal.add_medicalabstract %}
    <a class="btn btn-primary" href="{% url 'medicalabstract-create' %}" role="button">Add a medical abstract</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'medicalabstract-create' %}" role="button">Add a medical abstract</a>
  {% endif %}  
{% endblock %}