{% extends "cm_portal/csu_index.html" %}

{% block title %}| Medical Equipment{% endblock %}

{% block page_title %}| Medical Equipment{% endblock %}
{% block content %}  
  <div class="jumbotron"><h2>Name: {{ medicalequipment.item.item_name }}</h2>
  <div class="table-responsive"><table class="table table-hover">        
    <tr><td><strong>Brand name: </strong>{{ medicalequipment.item.brand_name }}</td></tr>
    <tr><td><strong>Universally Unique ID: </strong>{{ medicalequipment.id }}</td></tr>
    <tr><td><strong>Date acquired: </strong>{{ medicalequipment.date_acquired }}</td></tr>    
    <tr><td><strong>Status: </strong>{{ medicalequipment.get_status_display }}</td></tr> 
  </table></div>
  {% if perms.cm_portal.change_medicalequipment and perms.cm_portal.delete_medicalequipment %} 
    <a class="btn btn-primary" href="{% url 'medicalequipment-update' medicalequipment.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'medicalequipment-delete' medicalequipment.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_drug %}
    <a class="btn btn-primary" href="{% url 'medicalequipment-update' medicalequipment.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'medicalequipment-delete' medicalequipment.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'medicalequipment-update' medicalequipment.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'medicalequipment-delete' medicalequipment.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}