{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Medications{% endblock %}

{% block page_title %}| List of Medications{% endblock %}

{% load static %}

{% block content %}
  <div class="jumbotron">
  {% if medication_list %}    
    <ul class="list-group">
      {% for medication in medication_list %}
        <li class="list-group-item">
        <a href="{{ medication.get_absolute_url }}">
            {{ medication }}
        </a>          
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no medications in the portal.</p>  
  {% endif %}
  {% if perms.cm_portal.add_medication %}
    <a class="btn btn-primary" href="{% url 'medication-create' %}" role="button">Add a medication</a>
  {% else %}   
    <a class="btn btn-primary disabled" href="{% url 'medication-create' %}" role="button">Add a medication</a>
  {% endif %}
  </div>  
{% endblock %}