{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Residents with Medical Abstracts{% endblock %}

{% block page_title %}| List of Residents with Medical Abstracts{% endblock %}

{% load static %}

{% block content %}
  <div class="jumbotron">
  {% if medicalabstract_list %}    
    <div class="list-group">
      {% for medicalabstract in medicalabstract_list %}      
          {% include "cm_portal/resident_list_item.html" with resident=medicalabstract.resident building=True %}                     
      {% endfor %}
    </div>
    {% else %}
      <p>There are no medical abstracts in the portal.</p>  
  {% endif %}
  <br>  
  {% if perms.cm_portal.add_medicalabstract %}
    <a class="btn btn-primary" href="{% url 'medicalabstract-create' %}" role="button">Add a medical abstract</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'medicalabstract-create' %}" role="button">Add a medical abstract</a>
  {% endif %} 
  </div>
{% endblock %}