<div class="navbar-collapse collapse" id="collapsingNavbar">
  <ul class="navbar-nav">
    {% block nav_left %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'geriatric-index' %}">Geriatric</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'hris-index' %}">HRIS</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'csu-index' %}">CSU</a>
		</li>
    {% endblock %}      
  </ul>
  <ul class="navbar-nav ml-auto">
    {% block nav_right %}{% endblock %}
    {% if user.is_authenticated %} 
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
    {% endif %}
  </ul>
</div>








