{% extends "cm_portal/base.html" %}

{% block title %}| Geriatric Section{% endblock %}

{% load static %}

{% block sidebar %}
    {% if user.is_authenticated %}
      <li><strong>User: </strong>{{ user.get_username|capfirst }}</li>
    {% endif %}    
    <li><a href="{% url 'residents' %}">All residents</a></li>
    <li><a href="{% url 'relatives' %}">All relatives</a></li>    
    <li><a href="{% url 'physicians' %}">All physicians</a></li>
    <li><a href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>
    <li><a href="{% url 'relationships' %}">All relationships</a></li>
    <li><a href="{% url 'drugs' %}">All drugs</a></li>            
    <hr>
    <li><strong>Archive</strong></li>
    <li><a href="{% url 'residents-deceased' %}">Deceased residents</a></li>
    <li><a href="{% url 'residents-discharged' %}">Discharged residents</a></li>
    <hr>
    <li><strong>Reports</strong></li>    
    <li><a href="{% url 'maintenance' %}">Inventory of Medicines</a></li>
{% endblock %}

{% block page_title %}| <a href="#">Geriatric Section</a>{% endblock %}

{% block nav_others %}
{% block nav_resident %}{% endblock %}
  {% include 'cm_portal/dropdown-create.html' %}
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Geriatrics Database</em>, where you can store resident profiles and other related information.
      </h2>
      <h3>Dynamic content</h3>
      <p>The library has the following record counts:</p>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Residents: </strong>{{ num_residents }} 
        </li>
        <li class="list-group-item">
          <strong>Physicians: </strong>{{ num_physicians }} 
        </li>
        <li class="list-group-item">
          <strong>Relatives: </strong>{{ num_relatives }}
        </li>
      </ul>    
      <br>  
      <p>Census by building:</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Blessed Enrico Rebuschini: </strong>{{ census_rebuschini }}</li>
        <li class="list-group-item"><strong>Blessed Luigi Tezza: </strong>{{ census_luigi }}</li>
        <li class="list-group-item"><strong>St. Camillus Building-First floor: </strong>{{ census_first_floor }}</li>
        <li class="list-group-item"><strong>St. Camillus Building-Second floor: </strong>{{ census_second_floor }}</li>
      </ul>
    </div>
  {% else %}
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}  
{% endblock %}