{% extends "cm_portal/base.html" %}

{% block title %}| Nursing Home{% endblock %}

{% load static %}

{% block sidebar %}
    {% if user.is_authenticated %}
      <li><strong>User: </strong>{{ user.get_username|capfirst }}</li>
    {% endif %}    
    <li><a href="{% url 'residents' %}">All residents</a></li>
    <li><a href="{% url 'relatives' %}">All relatives</a></li>    
    <li><a href="{% url 'physicians' %}">All physicians</a></li>
    <hr>
    <li><a href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>
    <li><a href="{% url 'relationships' %}">All relationships</a></li>
    <li><a href="{% url 'drugs' %}">All drugs</a></li>    
{% endblock %}

{% block page_title %}| <a href="{% url 'nursing-home-index' %}">Nursing Home</a>{% endblock %}

{% block nav_others %}
{% block nav_resident %}{% endblock %}
<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">New...
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              {% if perms.cm_portal.add_drug %}
              <li>
                <a href="{% url 'drug-create' %}" >New drug</a>
              </li>
              {% else %}
              <li class="disabled">
                <a href="#" >New drug</a>
              </li>
              {% endif %}
              <li class="divider"></li>
              {% if perms.cm_portal.add_resident %}
              <li>
                <a href="{% url 'resident-create' %}">New resident</a>
              </li>
              {% else %}
              <li class="disabled ">
                <a href="#">New resident</a>
              </li>
              {% endif %}
              {% if perms.cm_portal.add_medicalabstract %}
              <li>
                <a href="{% url 'medicalabstract-create' %}">New medical abstract</a>
              </li>
              {% else %}
              <li class="disabled">
                <a href="#">New medical abstract</a>
              </li>
              {% endif %}
              {% if perms.cm_portal.add_medication %}
              <li>
                <a href="{% url 'medication-create' %}" >New medication</a>
              </li>
              {% else %}
              <li class="disabled">
                <a href="#" >New medication</a>
              </li>
              {% endif %}              
              <li class="divider"></li>
              {% if perms.cm_portal.add_relative %}
              <li>
                <a href="{% url 'relative-create' %}">New relative</a>
              </li>
              {% else %}
              <li class="disabled">
                <a href="#">New relative</a>
              </li>
              {% endif %}
              {% if perms.cm_portal.add_relationship %}
              <li>
                <a href="{% url 'relationship-create' %}">New relationship</a>
              </li>
              {% else %}
              <li class="disabled">
                <a href="#">New relationship</a>
              </li>
              {% endif %}
              <li class="divider"></li>
              {% if perms.cm_portal.add_physician %}
              <li>
                <a href="{% url 'physician-create' %}">New physician</a>
              </li>                
              {% else %}
              <li class="disabled">
                <a href="#">New physician</a>
              </li>   
              {% endif %}
            </ul>
</li>
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Nursing Home Database</em>, where you can store resident profiles and other related information.
      </h2>
      <h3>Dynamic content</h3>
      <p>The library has the following record counts:</p>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Residents: </strong>{{ num_residents }} 
        </li>
        <li class="list-group-item">
          <strong>Physicians: </strong>{{ num_physicians }} 
        </li>
        <li class="list-group-item">
          <strong>Relatives: </strong>{{ num_relatives }}
        </li>
      </ul>      
      <h3>Census</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Blessed Rebuschini: </strong>{{ census_rebuschini }}</li>
        <li class="list-group-item"><strong>Blessed Luigi Tezza: </strong>{{ census_luigi }}</li>
        <li class="list-group-item"><strong>St. Camillus Building-First floor: </strong>{{ census_first_floor }}</li>
        <li class="list-group-item"><strong>St. Camillus Building-Second floor: </strong>{{ census_second_floor }}</li>
      </ul>
    </div>
  {% else %}
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}  
{% endblock %}