{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| List of Physicians{% endblock %}

{% block page_title %}| List of Physicians{% endblock %}
    
{% block content %}

  <div class="jumbotron">
  {% if physician_list %}    
    <ul class="list-group">
      {% for physician in physician_list %}
        <li class="list-group-item">
          <a href="{{ physician.get_absolute_url }}">
            {{ physician.last_name }}, {{ physician.first_name }}         
            {% if physician.middle_name %}
              {{ physician.middle_name|first }}.            
            {% endif %}
          </a>               
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no physicians in the portal.</p>
  {% endif %}  
  <a class="btn btn-primary" href="{% url 'physician-create' %}" role="button">Add a physician</a>
  </div>
{% endblock %}