{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Physicians{% endblock %}

{% block page_title %}| List of Physicians{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if physician_list %}    
    <div class="list-group">
      {% for physician in physician_list %}
        {% include 'cm_portal/physician_list_item.html' %}
      {% endfor %}
    </div>
    {% else %}
      <p>There are no physicians in the portal.</p>
  {% endif %}
  <br> 
  {% if perms.cm_portal.add_physician %} 
    <a class="btn btn-primary" href="{% url 'physician-create' %}" role="button">Add a physician</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'physician-create' %}" role="button">Add a physician</a>
  {% endif %}
  </div>
{% endblock %}