{% extends "cm_portal/hris_index.html" %}

{% block title %}| List of Positions{% endblock %}

{% block page_title %}| List of Positions{% endblock %}

{% block sidebar %}
  <p></p>
  {% if user.is_authenticated %}
    {% include 'cm_portal/user.html' %}
  {% endif %}  
  <li class="nav-item"><a class="nav-link" href="{% url 'employees' %}">All employees</a></li>
  <li class="nav-item"><a class="nav-link active" href="{% url 'positions' %}">All positions</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">All departments</a></li>  
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if position_list %}    
    <ul class="list-group">
      {% for position in position_list %}
        <li class="list-group-item">
          <a href="{{ position.get_absolute_url }}">{{ position.name }}</a>               
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no positions in the portal.</p>  
  {% endif %}
  <br>
  {% if is_paginated %}
    {% include 'cm_portal/pagination.html' %}
  {% endif %}
  {% if perms.cm_portal.add_position %}
    <a class="btn btn-primary" href="{% url 'position-create' %}" role="button">Add a position</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'position-create' %}" role="button">Add a position</a>
  {% endif %}  
  </div>
{% endblock %}