{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| List of Relatives{% endblock %}

{% block page_title %}| List of Relatives{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if relative_list %}    
    <ul class="list-group">
      {% for relative in relative_list %}
        {% include 'cm_portal/relative_list_item.html' %}
      {% endfor %}
    </ul>    
    {% else %}
      <p>There are no relatives in the portal.</p>  
  {% endif %} 
  {% if perms.cm_portal.add_relative %} 
    <a class="btn btn-primary" href="{% url 'relative-create' %}" role="button">Add a relative</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'relative-create' %}" role="button">Add a relative</a>
  {% endif %}
  </div>  
{% endblock %}