{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| Relative Profile{% endblock %}

{% block page_title %}| Relative Profile{% endblock %}

{% block content %}  
  <h2>Name: {{ relative.first_name }}
    {% if relative.middle_name %}
      {{ relative.middle_name|first }}.            
    {% endif %}
    {{ relative.last_name }}</h2>
  <table class="table table-hover">    
    <tr><td><strong>Surname: </strong>{{ relative.last_name }}</td></tr>
    <tr><td><strong>First Name: </strong>{{ relative.first_name }}</td></tr>
    <tr><td><strong>Middle Name: </strong>{{ relative.middle_name }}</td></tr>
  </table>  
  <div style="margin-left:20px;margin-top:20px">
    <table class="table table-hover">
        <thead>
          <tr>
            <th><strong>Contact #</strong></th>
            <th><strong>Address</strong></th>          
          </tr>          
        </thead>    
        <tbody>          
          <tr>
            <td>{{ relative.telephone }}</td>
            <td>{{ relative.address }}</td>      
          </tr>
        </tbody>    
    </table>
  </div>
  <a class="btn btn-primary" href="{% url 'relative-update' relative.id %}" role="button">Edit</a>  
  <a class="btn btn-primary" href="{% url 'relative-delete' relative.id %}" role="button">Delete</a>  
{% endblock %}