{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Relative Profile{% endblock %}

{% block page_title %}| Relative Profile{% endblock %}

{% block content %}  
  <div class="jumbotron"><h2>Name: {{ relative.first_name }}
    {% if relative.middle_name %}
      {{ relative.middle_name|first }}.            
    {% endif %}
    {{ relative.last_name }}</h2>
  <div class="table-responsive"><table class="table table-hover">    
    <tr><td><strong>Surname: </strong>{{ relative.last_name }}</td></tr>
    <tr><td><strong>First Name: </strong>{{ relative.first_name }}</td></tr>
    <tr><td><strong>Middle Name: </strong>{{ relative.middle_name }}</td></tr>
  </table></div>  
  <div style="margin-left:20px;margin-top:20px">
    <div class="table-responsive"><table class="table table-hover">
        <thead>
          <tr>
            <th><strong>Contact #</strong></th>
            <th><strong>Address</strong></th>          
          </tr>          
        </thead>    
        <tbody>          
          <tr>
            <td>{{ relative.telephone }}</td>
            <td>{{ relative.address }}</td>      
          </tr>
        </tbody>    
    </table></div>
  </div>
  {% if perms.cm_portal.change_relative and perms.cm_portal.delete_relative %}
    <a class="btn btn-primary" href="{% url 'relative-update' relative.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'relative-delete' relative.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_relative %}  
    <a class="btn btn-primary" href="{% url 'relative-update' relative.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'relative-delete' relative.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'relative-update' relative.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'relative-delete' relative.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}