{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Relationships{% endblock %}

{% block page_title %}| List of Relationships{% endblock %}

{% load static %}

{% block content %}
  <div class="jumbotron">
  {% if relationship_list %}    
    <div class="list-group">
      {% for relationship in relationship_list %}        
         <a href="{{ relationship.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">            
				<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1"><i class="fas fa-user-friends"></i> {{ relationship }}</h5>				
				</div>       
         </a>            
      {% endfor %}
    </div>
    {% else %}
      <p>There are no relationships in the portal.</p>  
  {% endif %}
  <br>  
  {% if perms.cm_portal.add_relationship %}  
    <a class="btn btn-primary" href="{% url 'relationship-create' %}" role="button">Add a relationship</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'relationship-create' %}" role="button">Add a relationship</a>
  {% endif %}
  </div>
{% endblock %}