{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| Resident Profile{% endblock %}

{% block page_title %}| Resident Profile{% endblock %}

{% load static %}

{% block content %}  
  <h2>Name: {{ resident.first_name }} 
    {% if resident.middle_name %}
      {{ resident.middle_name|first }}.            
    {% endif %} {{ resident.last_name }}</h2>
  
  <div class="container">
    <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
      {% if resident.photo %}
      <img src="{{ resident.photo.url }}" class="img-thumbnail" alt="Responsive image">
      {% else %}
      <img src="{% static 'images/san_camilo_1.jpg' %}" class="img-thumbnail" alt="">
      {% endif %}
    </div>
  </div>
    
  <table class="table table-sm table-hover">
    <tr>
      <td><strong>Reminder(s): </strong>{{ resident.reminders }}</td>          
    </tr>
    <tr>
      <td><strong>Diagnosis: </strong>{{ resident.admitting_diagnosis }}</td>
      <td><strong>Diet: </strong>{{ resident.diet }}</td>
    </tr>  
    <tr>
      <td><strong>Weight: </strong>{{ resident.weight }}</td>
      <td><strong>Height: </strong>{{ resident.height }}</td>
    </tr>      
    <tr>
      <td><strong>Surname: </strong>{{ resident.last_name }}</td>
      <td><strong>First Name: </strong>{{ resident.first_name }}</td>
      <td><strong>Middle Name: </strong>{{ resident.middle_name }}</td>    
    </tr>
    <tr>
      <td><strong>Age: </strong>{{ resident.birth_date|timesince }}</td>
      <td><strong>Sex: </strong>{% if resident.gender  == 'M' %} Male{% else %} Female{% endif%}</td>
      <td><strong>OSCA ID #: </strong>{{ resident.osca_id }}</td>    
    </tr>
    <tr>
      <td><strong>Address: </strong>{{ resident.address }}</td>    
    </tr>
    <tr>
      <td><strong>Birth Date: </strong>{{ resident.birth_date }}</td>
      <td><strong>Birth Place: </strong>{{ resident.birth_place }}</td>
      <td><strong>Nationality: </strong>{{ resident.nationality }}</td>    
    </tr>
    <tr>
      <td><strong>Civil Status: </strong>{% if resident.civil_status  == 'S' %}Single
                                   {% elif resident.civil_status == 'M' %}Married
                                   {% else %}Widowed
                                   {% endif%}</td>
      <td><strong>Most Recent Occupation: </strong>{{ resident.most_recent_occupation }}</td>    
    </tr>
    <tr>
      <td><strong>Date and Time of Admission: </strong>{{ resident.date_and_time_of_admission }}</td>
      <td><strong>Religion: </strong>{{ resident.religion }}</td>    
    </tr>
  </table>  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Contact Person(s)</h4>
    <table class="table table-hover">
    {% for relative in resident.relatives.all %}
      <tr>
        <td><strong>Name: </strong>
        <a href="{% url 'relative-detail' relative.pk %}" >{{relative.first_name}} {{relative.middle_name }} {{ relative.last_name }}</a></td>
        <td><strong>Relation: </strong>{{ relative.relation }}</td>
        <td><strong>Telephone #: </strong>{{ relative.telephone }}</td>   
        <td><a class="btn btn-primary btn-sm" href="{% url 'relative-update' relative.pk %}" role="button">Edit</td>   
      </tr>
    {% endfor %}    
    {% for physician in resident.physicians.all %}
      <tr>
        <td><strong>Physician: </strong><a href="{% url 'physician-detail' physician.pk %}" > 
        Dr. {{ physician.first_name }} {{ physician.middle_name }} {{ physician.last_name}}</a></td>
        <td><strong>Contact #: </strong>{{ physician.telephone }}</td>    
        <td><strong>HOC: </strong>{{ physician.hospital_of_choice }}</td>  
      </tr>
    {% endfor%}
    </table>
  </div> 
  <a class="btn btn-primary" href="{% url 'resident-update' resident.id %}" role="button">Edit</a>  
  <a class="btn btn-warning" href="{% url 'resident-delete' resident.id %}" role="button">Delete</a>
{% endblock %}