{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Residents OSCA Numbers{% endblock %}

{% block page_title %}| Residents OSCA Numbers{% endblock %}

{% load static %}

{% block content %}
{% if male_first_floor %}
<table class="table table-sm table-hover">
  <thead><h4>St. Camillus Bldg. 1st floor (Male)</h4></thead>  
  {% include "cm_portal/maintenance_th.html" %}
  {% for resident in male_first_floor %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if female_first_floor %}
<table class="table table-sm table-hover">
  <thead><h4>St. Camillus Bldg. 1st floor (Female)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in female_first_floor %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if male_second_floor %}
<table class="table table-sm table-hover">
  <thead><h4>St. Camillus Bldg. 2nd floor (Male)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in male_second_floor %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if female_second_floor %}
<table class="table table-sm table-hover">
  <thead><h4>St. Camillus Bldg. 2nd floor (Female)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in female_second_floor %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if male_luigi_tezza %}
<table class="table table-sm table-hover">
  <thead><h4>Blessed Luigi Tezza (Male)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in male_luigi_tezza %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if female_luigi_tezza %}
<table class="table table-sm table-hover">
  <thead><h4>Blessed Luigi Tezza (Female)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in female_luigi_tezza %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if male_rebuschini %}
<table class="table table-sm table-hover">
  <thead><h4>Blessed Enrico Rebuschini (Male)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in male_rebuschini %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% if female_rebuschini %}
<table class="table table-sm table-hover">
  <thead><h4>Blessed Enrico Rebuschini (Female)</h4></thead>
  {% include "cm_portal/maintenance_th.html" %}  
  {% for resident in female_rebuschini %}
    {% include "cm_portal/maintenance_data.html" %}
  {% endfor %}
</table>
{% endif %}

{% endblock %}