<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#a">A</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#b">B</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#c">C</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#d">D</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#e">E</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#f">F</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#g">G</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#h">H</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#i">I</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#j">J</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#k">K</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#l">L</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#m">M</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#n">N</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#o">O</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#p">P</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#q">Q</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#r">R</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#s">S</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#t">T</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#u">U</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#v">V</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#w">W</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#x">X</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#y">Y</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#z">Z</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="a">
    <ul class="list-group">
    {% for resident in a %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="b">
    <ul class="list-group">
    {% for resident in b %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="c">
    <ul class="list-group">
    {% for resident in c %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="d">
    <ul class="list-group">
    {% for resident in d %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="e">
    <ul class="list-group">
    {% for resident in e %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="f">
    <ul class="list-group">
    {% for resident in f %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="g">
    <ul class="list-group">
    {% for resident in g %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="h">
    <ul class="list-group">
    {% for resident in h %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="i">
    <ul class="list-group">
    {% for resident in i %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="j">
    <ul class="list-group">
    {% for resident in j %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="k">
    <ul class="list-group">
    {% for resident in k %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="l">
    <ul class="list-group">
    {% for resident in l %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="m">
    <ul class="list-group">
    {% for resident in m %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="n">
    <ul class="list-group">
    {% for resident in n %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="o">
    <ul class="list-group">
    {% for resident in o %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="p">
    <ul class="list-group">
    {% for resident in p %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="q">
    <ul class="list-group">
    {% for resident in q %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="r">
    <ul class="list-group">
    {% for resident in r %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="s">
    <ul class="list-group">
    {% for resident in s %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="t">
    <ul class="list-group">
    {% for resident in t %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="u">
    <ul class="list-group">
    {% for resident in u %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="v">
    <ul class="list-group">
    {% for resident in v %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="w">
    <ul class="list-group">
    {% for resident in w %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="x">
    <ul class="list-group">
    {% for resident in x %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="y">
    <ul class="list-group">
    {% for resident in y %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="z">
    <ul class="list-group">
    {% for resident in z %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>  
</div>