{% load static %}
<a href="{{ resident.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
 <!-- disable temporarily{% if resident.photo %}
	<img class="loadlater" src="{{ resident.photo.url }}" alt="" width="50px" height="50px">
 {% else %}
   <img class="loadlater" src="{% static 'images/avatar.png' %}" alt="" width="50px" height="50px">
 {% endif %} -->    
 <div class="d-flex w-100 justify-content-between">    
   <h5 class="mb-1">{{ resident.last_name }}, {{ resident.first_name }} 
	{% if resident.middle_name %}
		{{ resident.middle_name|first }}.            
	{% endif %}</h5>		 
 </div> 
 {% if birthday %}   
   <small class="text-muted">{{ resident.birth_date }}</small>
 {% elif discharged %}
   <small class="text-muted">{{ resident.discharged_on }}</small>
 {% elif deceased %}
   <small class="text-muted">{{ resident.died_on }}</small>
 {% elif admission %}
   <small class="text-muted">{{ resident.admission_date }}</small>
 {% else %}   
   <small class="text-muted">{{ resident.get_building_display }}</small> 
 {% endif %}
</a>                  
