<table class="table table-hover">
{% for medication in resident.medication_set.all %}
	<tr>
		<td>
		{% if medication.medicine.brand_name %}
			<h4 class="list-group-item-heading">{{ medication.medicine.brand_name }}</h4>
		{% endif %}
			<a href="{{ medication.get_absolute_url }}">
				{{ medication.medicine.generic_name }} 
				{% if medication.medicine.dosage %} - 
				  {{ medication.medicine.dosage }}            
				{% endif %}        
			</a>&nbsp;
		{% if medication.quantity %}
			<span class="badge">{{ medication.quantity }}</span>
		{% else %}
			<span class="badge">0</span>
		{% endif %}
		</td>      
	</tr>
{% endfor %}
</table>

