<table class="table table-hover" >
	<thead><h4>Reason For Confinement</h4></thead>
	<tr>
		<td>{{ resident.medicalabstract.reason_for_confinement }}</td>
	</tr>
</table>
	
<table class="table table-hover" >
	<thead><h4>History of Present Illness</h4></thead>
	<tr>
		<td>{{ resident.medicalabstract.history_of_present_illness }}</td>
	</tr>
</table>
	
<table class="table table-hover" >
	<thead><h4>Course in the Ward</h4></thead>
	<tr>
		<td>{{ resident.medicalabstract.course_in_the_ward|linebreaks }}</td>
	</tr>
</table>
