{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| List of Residents{% endblock %}

{% block page_title %}| List of Residents{% endblock %}

{% block external %}
  <script type="text/javascript" src="/static/js/obj_list.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info">Sort By:</button>
                <div class="btn-group" role="group">
                        <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                <a class="dropdown-item" href="#">Birthdays</a>
                                <a class="dropdown-item" onclick="load_list('#resident_list', 'sort', 'bldg')" href="javascript:void(0);">Building</a>
                        </div>
                </div>
        </div>
        <p></p>
        <div id="resident_list">
                {% include 'cm_portal/resident_list.html' %}
        </div>
        <br>
        {% if perms.cm_portal.add_resident %}
                <a class="btn btn-primary" href="{% url 'resident-create' %}" role="button">Add a resident</a>
        {% else %}
                <a class="btn btn-primary disabled" href="{% url 'resident-create' %}" role="button">Add a resident</a>
        {% endif %}
</div>
{% endblock %}
