{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| List of Residents by Building{% endblock %}

{% block page_title %}| List of Residents by Building{% endblock %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-residents' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block content %}
  <div class="jumbotron">  
  <h4>Blessed Enrico Rebuschini</h4>
  <ul class="list-group">
  {% for resident in rebuschini %}       
       
      {% include "cm_portal/resident_list_item.html" %}        
        
  {% endfor%}
  </ul>  
  <h4>Blessed Luigi Tezza Building</h4>
  <ul class="list-group">
  {% for resident in tezza %}        
        
      {% include "cm_portal/resident_list_item.html" %}        
       
  {% endfor%}
  </ul>  
  <h4>St. Camillus Building First Floor</h4>
  <ul class="list-group">
  {% for resident in first_floor %}        
        
      {% include "cm_portal/resident_list_item.html" %}        
       
  {% endfor%}
  </ul>
  <h4>St. Camillus Building Second Floor</h4>
  <ul class="list-group">
  {% for resident in second_floor %}        
     
      {% include "cm_portal/resident_list_item.html" %}        
       
  {% endfor%}
  </ul>  
  </div>
{% endblock %}