{% extends "cm_portal/resident_list.html" %}

{% block title %}| List of Residents by Building{% endblock %}

{% block page_title %}| List of Residents by Building{% endblock %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-residents' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block content %} 
  <ul class="nav nav-tabs">
  <li><a href="{% url 'resident-list-rebuschini' %}">Blessed Enrico Rebuschini</a></li>
  <li><a href="{% url 'resident-list-tezza' %}">Blessed Luigi Tezza</a></li>
  <li><a href="{% url 'resident-list-first-floor' %}">St. Camillus - First Floor</a></li>
  <li class="active"><a href="#">St. Camillus - Second Floor</a></li>
  </ul>
  <ul class="list-group">
  {% for resident in second_floor %}               
    {% include "cm_portal/resident_list_item.html" %}        
  {% endfor%}
  </ul>    
{% endblock %}