{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| Physician Search{% endblock %}

{% block page_title %}| Physician Search{% endblock %}

{% load static %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-physicians' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block content %}
  <div class="jumbotron">  
  {% if show_results and obj_list %}
    <ul class="list-group">
      {% for physician in obj_list %}
        <li class="list-group-item">          
          <a href="{{ physician.get_absolute_url }}">
            {{ physician.last_name }}, {{ physician.first_name }} 
            {% if physician.middle_name %}
              {{ physician.middle_name|first }}.            
            {% endif %}        
          </a>               
        </li>
      {% endfor %}
    </ul>  
  {% elif show_results %}
    <p>No physicians matched your search criteria.</p>
  {% else %}
    <h3>Please submit a search term.</h3>
  {% endif %}
  </div>  
{% endblock %}