{% extends "cm_portal/nursing_home_index.html" %}

{% block title %}| Resident Search{% endblock %}

{% block page_title %}| Resident Search{% endblock %}

{% load static %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-residents' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block content %}
  <div class="jumbotron">  
  {% if show_results and obj_list %}
    <ul class="list-group">
      {% for resident in obj_list %}
        <li class="list-group-item">
          {% if resident.photo %}
          <img src="{{ resident.photo.url }}" alt="" width="50px" height="50px">
          {% else %}
          <img src="{% static 'images/avatar.png' %}" alt="" width="50px" height="50px">
          {% endif %}
          <a href="{{ resident.get_absolute_url }}">
            {{ resident.last_name }}, {{ resident.first_name }} 
            {% if resident.middle_name %}
              {{ resident.middle_name|first }}.            
            {% endif %}        
          </a>               
        </li>
      {% endfor %}
    </ul>  
  {% elif show_results %}
    <p>No residents matched your search criteria.</p>
  {% else %}
    <h3>Please submit a search term.</h3>
  {% endif %}
  </div>  
{% endblock %}