<li class="nav-item dropdown show active d-block d-sm-none">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">CSU</a>
  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">      
	  <a class="dropdown-item" href="#">All items</a>
	  <a class="dropdown-item" href="#">All medical supplies</a>
	  <a class="dropdown-item" href="#">All medical equipment</a>
	  <a class="dropdown-item" href="#">All charges</a>	  
  </div>
</li>