<li class="nav-item"><a class="nav-link{% if highlight == 'items' %} active{% endif %}" href="{% url 'items' %}">All items</a></li>
<li class="nav-item"><a class="nav-link{% if highlight == 'medical-supplies' %} active{% endif %}" href="{% url 'medical-supplies' %}">All medical supplies</a></li>
<li class="nav-item"><a class="nav-link{% if highlight == 'medical-equipment' %} active{% endif %}" href="{% url 'medical-equipment' %}">All medical equipments</a></li>
<li class="nav-item"><a class="nav-link{% if highlight == 'charges' %} active{% endif %}" href="{% url 'charges' %}" >All charges</a></li>
