<li class="nav-item dropdown show active d-block d-sm-none">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Geriatric</a>
  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">      
	  <a class="dropdown-item" href="{% url 'residents' %}">All residents</a>
	  <a class="dropdown-item" href="{% url 'relatives' %}">All relatives</a>
	  <a class="dropdown-item" href="{% url 'physicians' %}">All physicians</a>	  
	  <a class="dropdown-item" href="{% url 'drugs' %}">All drugs</a>	  
	  <a class="dropdown-item" href="{% url 'buildings' %}">All buildings</a>
	  <a class="dropdown-item dropdown-toggle" href="#">Archive</a>
	  <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="{% url 'residents-deceased' %}">Deceased residents</a></li>
       <li><a class="dropdown-item" href="{% url 'residents-discharged' %}">Discharged residents</a></li>
	  </ul>	  	  
	  <a class="dropdown-item dropdown-toggle" href="#">Quick tables</a>
	  <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="{% url 'residents' %}?reports=maintenance">Inventory of medicines</a></li>
	    <li><a class="dropdown-item" href="{% url 'residents' %}?reports=osca">OSCA numbers</a></li>
	    <li><a class="dropdown-item" href="#">Spiritual profile</a></li>
	  </ul> 
  </div>
</li>