<li class="nav-item dropdown show active d-block d-sm-none">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">HRIS</a>
  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">      
	  <a class="dropdown-item" href="{% url 'employees' %}">All employees</a>
	  <a class="dropdown-item" href="{% url 'positions' %}">All positions</a>
	  <a class="dropdown-item" href="{% url 'departments' %}">All departments</a>
	  <a class="dropdown-item" href="{% url 'employment-statuses' %}">All employment statuses</a>	  	   
  </div>
</li>