{% extends 'includes/nav_base.html' %}

{% block nav_left %}
    {% include 'includes/csu_new_dropdown.html' %}    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'geriatric-index' %}">Geriatric</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hris-index' %}">HRIS</a>
    </li>
    <li class="nav-item active d-none d-sm-block">
      <a class="nav-link" href="#">CSU</a>
    </li>
    {% include 'includes/csu_menu_dropdown.html' %}    
{% endblock %}