<div class="table-responsive"><table class="table table-sm table-hover">
    {% if resident.vital_status == 'DE' and resident.died_on %}
    <tr>
      <td><strong class="text-danger">Died on: </strong>{{ resident.died_on }}</td>    
    </tr>
    {% elif resident.vital_status == 'DC' and resident.discharged_on %}
    <tr>
      <td><strong class="text-warning">Discharged on: </strong>{{ resident.discharged_on }}</td>    
    </tr>
    {% endif %}
    <tr>
      <td><strong>Reminder(s): </strong>{{ resident.reminders }}</td>          
    </tr>
    <tr>
      <td><strong>Diagnosis: </strong>{{ resident.admitting_diagnosis }}</td>
      <td><strong>Diet: </strong>{{ resident.diet }}</td>
    </tr>  
    <tr>
      <td><strong>Weight: </strong>{{ resident.weight }}</td>
      <td><strong>Height: </strong>{{ resident.height }}</td>
    </tr>      
    <tr>
      <td><strong>Surname: </strong>{{ resident.last_name }}</td>
      <td><strong>First Name: </strong>{{ resident.first_name }}</td>
      <td><strong>Middle Name: </strong>{{ resident.middle_name }}</td>    
    </tr>
    <tr>
      <td><strong>Age: </strong>{{ resident.birth_date|timesince }}</td>
      <td><strong>Sex: </strong>{{ resident.get_gender_display }}</td>
      <td><strong>OSCA ID #: </strong>{{ resident.osca_id }}</td>    
    </tr>
    <tr>
      <td><strong>Address: </strong>{{ resident.address }}</td>    
    </tr>
    <tr>
      <td><strong>Birth Date: </strong>{{ resident.birth_date }}</td>
      <td><strong>Birth Place: </strong>{{ resident.birth_place }}</td>
      <td><strong>Nationality: </strong>{{ resident.nationality }}</td>    
    </tr>
    <tr>
      <td><strong>Civil Status: </strong>{{ resident.get_civil_status_display }}</td>
      <td><strong>Most Recent Occupation: </strong>{{ resident.most_recent_occupation }}</td>    
    </tr>
    <tr>
      <td><strong>Date of Admission: </strong>{{ resident.admission_date }}</td>
      <td><strong>Time of Admission: </strong>{{ resident.admission_time }}</td>
      <td><strong>Religion: </strong>{{ resident.religion }}</td>    
    </tr>
  </table>  
  {% if resident.relative_set.all or resident.physicians.all %}
  <table class="table table-hover">
    <thead><h4>Contact Person(s)</h4></thead>
    {% for relative in resident.relative_set.all %}      
			<tr><td><strong>Name: </strong>
			<a href="{% url 'relative-detail' relative.pk %}" >{{relative.first_name}} {{relative.middle_name }} {{ relative.last_name }}</a></td>
			<td><strong>Relation: </strong>{{ relative.relation_to_resident }}</td>
			<td><strong>Telephone #: </strong>{{ relative.telephone }}</td></tr>      
    {% endfor %}  
    {% for physician in resident.physicians.all %}
      <tr>
        <td><strong>Physician: </strong><a href="{% url 'physician-detail' physician.pk %}" > 
        Dr. {{ physician.first_name }} {{ physician.middle_name }} {{ physician.last_name}}</a></td>
        <td><strong>Contact #: </strong>{{ physician.telephone }}</td>    
        <td><strong>HOC: </strong>{{ physician.hospital_of_choice }}</td>  
      </tr>
    {% endfor%}
  </table>
  {% endif %}</div>
  
  {% if perms.cm_portal.change_resident and perms.cm_portal.delete_resident %}
    <a class="btn btn-primary" href="{% url 'resident-update' resident.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'resident-delete' resident.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_resident %}
    <a class="btn btn-primary" href="{% url 'resident-update' resident.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'resident-delete' resident.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'resident-update' resident.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'resident-delete' resident.id %}" role="button">Delete</a>
  {% endif %}