{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Building{% endblock %}

{% block page_title %}| Building{% endblock %}

{% block content %}
  <div class="jumbotron"><h2>{{ building.name }} Building ({{ building.alias }})</h2>
    
  <div class="table-responsive"><table class="table table-hover">
    <tr>
      <td><strong>Building name: </strong>{{ building.name }}</td>          
    </tr>
    <tr>
      <td><strong>Alias: </strong>{{ building.alias }}</td>
    </tr>
  </table>
{% endblock %}