{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Building{% endblock %}

{% block page_title %}| Building{% endblock %}

{% block content %}
  <div class="jumbotron"><h2>{{ building.name }} Building ({{ building.alias }})</h2>
    
  <div class="table-responsive"><table class="table table-hover">
    <tr>
      <td><strong>Building name: </strong>{{ building.name }}</td>          
    </tr>
    <tr>
      <td><strong>Alias: </strong>{{ building.alias }}</td>
    </tr>
  </table>
  </div>
  {% if building.resident_set.all %}
  <div style="margin-left:20px;margin-top:20px">    
    <div class="table-responsive"><table class="table table-hover">
        <thead> 
          <tr><h4>Resident(s)</h4></tr>         
          <tr>
            <th><strong>Name</strong></th>            
            <th><strong>OSCA #</strong></th>                      
          </tr>          
        </thead>    
        <tbody>          
          {% for resident in building.resident_set.all %}
            {% if resident.vital_status == 'LI' %}
            <tr>
              <td><a href="{{ resident.get_absolute_url }}">{{ resident }}</a></td>              
              <td>{{ resident.osca_id }}</td>                          
            </tr>
            {% endif %}
          {% endfor %}          
        </tbody>    
    </table></div>
  </div>
  {% endif %}
  {% if perms.cm_portal.change_building and perms.cm_portal.delete_building %} 
    <a class="btn btn-primary" href="{% url 'building-update' building.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'building-delete' building.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_building %}
    <a class="btn btn-primary" href="{% url 'building-update' building.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'building-delete' building.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'building-update' building.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'building-delete' building.id %}" role="button">Delete</a>
  {% endif %}
  </div>
{% endblock %}