{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Buildings{% endblock %}

{% block page_title %}| List of Buildings{% endblock %}

{% block sidebar %}
    <p></p>
    {% if user.is_authenticated %}
      {% include 'includes/user.html' %}
    {% endif %}    
    {% include 'includes/geria_sidebar.html' %}
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if building_list %}    
    <div class="list-group">
      {% for building in building_list %}
        {% include 'includes/building_list_item.html' %}
      {% endfor %}
    </div>    
    {% else %}
      <p>There are no buildings in the portal.</p>  
  {% endif %} 
  <br>
  {% if is_paginated %}
    {% include 'includes/pagination.html' %}
  {% endif %}
  {% if perms.cm_portal.add_building %}
    <a class="btn btn-primary" href="{% url 'building-create' %}" role="button">Add building</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'building-create' %}" role="button">Add building</a>
  {% endif %} 
  </div>
{% endblock %}