{% extends "cm_portal/csu_index.html" %}

{% block title %}| Charge{% endblock %}

{% block page_title %}| Charge{% endblock %}
{% block content %}  
  <div class="jumbotron"><h2>Borrower: {{ charge.borrower }}</h2>
  <div class="table-responsive"><table class="table table-hover">
    <tr><td><strong>Date acquired: </strong>{{ charge.date_acquired }}</td></tr>    
    <tr><td><strong>Item: </strong>{{ charge.item }}</td></tr>    
    <tr><td><strong>Quantity: </strong>{{ charge.quantity }}</td></tr>
    <tr><td><strong>Unit of measure: </strong>{{ charge.unit_of_measure }}</td></tr>
    <tr><td><strong>Cashier: </strong>{{ charge.cashier }}</td></tr>
  </table></div> 
  {% if perms.cm_portal.change_charge and perms.cm_portal.delete_charge %} 
    <a class="btn btn-primary" href="{% url 'charge-update' charge.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'charge-delete' charge.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_charge %}
    <a class="btn btn-primary" href="{% url 'charge-update' charge.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'charge-delete' charge.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'charge-update' charge.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'charge-delete' charge.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}