{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Drugs{% endblock %}

{% block page_title %}| List of Drugs{% endblock %}

{% load static %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-drugs' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block sidebar %}
    <p></p>
    {% if user.is_authenticated %}
      {% include 'includes/user.html' %}
    {% endif %}    
    {% include 'includes/geria_sidebar.html' %}
{% endblock %}

{% block content %}  
  <div class="jumbotron"><div class="table-responsive">
  {% load django_tables2 %}
  {% render_table table %}
  </div>    
  <br>
  {% if perms.cm_portal.add_drug %}
    <a class="btn btn-primary" href="{% url 'drug-create' %}" role="button">Add a drug</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'drug-create' %}" role="button">Add a drug</a>
  {% endif %}</div>  
{% endblock %}