{% extends "cm_portal/hris_index.html" %}

{% block title %}| List of Employees{% endblock %}

{% block page_title %}| List of Employees{% endblock %}

{% load static %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-employees' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block sidebar %}
  <p></p>
  {% if user.is_authenticated %}
    {% include 'cm_portal/user.html' %}
  {% endif %}  
  <li class="nav-item"><a class="nav-link active" href="{% url 'employees' %}">All employees</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'positions' %}">All positions</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">All departments</a></li>  
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if employee_list %}    
    <ul class="list-group">
      {% for employee in employee_list %}
        <li class="list-group-item">
          {% if employee.photo %}
          <img src="{{ employee.photo.url }}" alt="" width="50px" height="50px">
          {% else %}
          <img src="{% static 'images/avatar.png' %}" alt="" width="50px" height="50px">
          {% endif %}
          <a href="{{ employee.get_absolute_url }}">
            {{ employee.last_name }}, {{ employee.first_name }}
            {% if employee.middle_name %}
              {{ employee.middle_name|first }}.            
            {% endif %}        
          </a>               
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no employees in the portal.</p>  
  {% endif %}  
  <br>
  {% if is_paginated %}
    {% include 'cm_portal/pagination.html' %}
  {% endif %}
  {% if perms.cm_portal.add_employee %}  
    <a class="btn btn-primary" href="{% url 'employee-create' %}" role="button">Add an employee</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'employee-create' %}" role="button">Add an employee</a>
  {% endif %}
  </div>
{% endblock %}