{% extends "cm_portal/hris_index.html" %}

{% block title %}| List of Employees{% endblock %}

{% block page_title %}| List of Employees{% endblock %}

{% load static %}

{% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-employees' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %}

{% block sidebar %}
  <p></p>
  {% if user.is_authenticated %}
    {% include 'includes/user.html' %}
  {% endif %}  
  <li class="nav-item"><a class="nav-link active" href="{% url 'employees' %}">All employees</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'positions' %}">All positions</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">All departments</a></li>  
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% load django_tables2 %}  
  {% render_table table %}  
  </div>    
  <br>
  {% if perms.cm_portal.add_employee %}  
    <a class="btn btn-primary" href="{% url 'employee-create' %}" role="button">Add an employee</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'employee-create' %}" role="button">Add an employee</a>
  {% endif %}
  </div>
{% endblock %}