{% extends 'cm_portal/index.html' %}

{% block title %}| Geriatric Section{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'cm_portal/nav_geria.html' %}
{% endblock %}

{% block sidebar %}
    <p></p>
    {% include 'cm_portal/user.html' %}        
    <li class="nav-item"><a class="nav-link" href="{% url 'residents' %}">All residents</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'relatives' %}">All relatives</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'physicians' %}">All physicians</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'drugs' %}">All drugs</a></li>            
    <hr>    
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archive</a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
	      <a class="dropdown-item" href="{% url 'residents-deceased' %}">Deceased residents</a>
	      <a class="dropdown-item" href="{% url 'residents-discharged' %}">Discharged residents</a>
	    </div>
    </li>
    <hr>        
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
		    <a class="dropdown-item" href="{% url 'residents' %}?reports=maintenance">Inventory of Medicines</a>
		    <a class="dropdown-item" href="{% url 'residents' %}?reports=osca">OSCA Numbers</a>
		    <a class="dropdown-item" href="#">Spiritual Profile</a>
	    </div>
    </li>
{% endblock %}

{% block page_title %}| Geriatric Section{% endblock %}

<!-- {% block searchbar %}
	<div class="input-group mb-3">
		<form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'search' %}">
			<div class="input-group-prepend">
				<button type="submit" class="btn btn-secondary my-2 my-sm-0">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
			<input class="form-control" name="query" placeholder="Search" type="text" size="32" required id="id_query">
			<div class="input-group-append">
				<select class="custom-select" name="model" id="model">
					<option value="resident" selected>Residents</option>
					<option value="relative">Relatives</option>
					<option value="physician">Physicians</option>
					<option value="drug">Drugs</option>
				</select>			
			</div>
		</form>
	</div>
{% endblock %} -->
   
{% block content %}   	
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Geriatrics Database</em>, where you can store resident profiles and other related information.
      </h2>
      <h3>Dynamic content</h3>
      <p>The library has the following record counts:</p>      
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Residents</strong>
          <span class="badge badge-primary badge-pill">{{ resident_list.count }}</span> 
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Physicians</strong>
          <span class="badge badge-primary badge-pill">{{ physician_list.count }}</span> 
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Relatives</strong>
          <span class="badge badge-primary badge-pill">{{ relative_list.count }}</span>
        </li>
      </ul>    
      <br>  
      <p>Census by building:</p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>Blessed Enrico Rebuschini</strong>                           
          <span class="badge badge-primary badge-pill">{{ census_rebuschini.count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>Blessed Luigi Tezza</strong>          
          <span class="badge badge-primary badge-pill">{{ census_luigi.count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>St. Camillus Building-First floor</strong>          
          <span class="badge badge-primary badge-pill">{{ census_first_floor.count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">          
            <strong>St. Camillus Building-Second floor</strong>          
          <span class="badge badge-primary badge-pill">{{ census_second_floor.count }}</span>
        </li>
      </ul>
    </div>
  {% else %}
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}  
{% endblock %}