{% extends 'cm_portal/index.html' %}

{% block title %}| Geriatric Section{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'includes/nav_geria.html' %}
{% endblock %}

{% block sidebar %}    
    {% if user.is_authenticated %}
      {% include 'includes/user.html' %}
    {% endif %}    
    {% include 'includes/geria_sidebar.html' %}
{% endblock %}

{% block page_title %}| Geriatric Section{% endblock %}

<!-- {% block searchbar %}
	<div class="input-group mb-3">
		<form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'search' %}">
			<div class="input-group-prepend">
				<button type="submit" class="btn btn-secondary my-2 my-sm-0">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
			<input class="form-control" name="query" placeholder="Search" type="text" size="32" required id="id_query">
			<div class="input-group-append">
				<select class="custom-select" name="model" id="model">
					<option value="resident" selected>Residents</option>
					<option value="relative">Relatives</option>
					<option value="physician">Physicians</option>
					<option value="drug">Drugs</option>
				</select>			
			</div>
		</form>
	</div>
{% endblock %} -->
   
{% block content %}   	
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h2>Welcome to the 
        <em>Geriatrics Database</em>, where you can store resident profiles and other related information.
      </h2>               
      <br>
      {% if building_list %}      
      <p class="lead">Resident census by building:</p>
        {% for building in building_list %}
          <a href="{{ building.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">          
            <strong>{{ building }}</strong>                           
            <span class="badge badge-primary badge-pill">{{ building.resident_set.count }}</span>
          </a>
        {% endfor %}      
      {% endif %}
    </div>
  {% else %}
    <p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a></p>
  {% endif %}  
{% endblock %}