{% extends 'cm_portal/base.html' %}

{% block title %}| Home{% endblock %}

{% load static %}

{% block navbar %}
  {% include 'includes/nav_base.html' %}
{% endblock %}

{% block sidebar %}      
  {% if user.is_authenticated %}
      {% include 'includes/user.html' %}
    {% endif %} 
  {% include 'includes/index_sidebar.html' %} 
{% endblock %}
     
{% block page_title %}| Home{% endblock %}

{% block messages %}  
  {% if messages %}
    {% for message in messages %}
    <div class="{% if message.tags == 'success' %}alert alert-dismissible alert-success{% else %}alert alert-dismissible alert-danger{% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ message }}</strong>
    </div>    
    {% endfor %} 
  {% endif %}
{% endblock %}

{% block content %}       
  <div class="jumbotron">
  <h2>Welcome <a href="{% url 'user-detail' user.id %}">
    {% if user.first_name %}
      {{ user.first_name|capfirst }}
    {% else %}
      {{ user.get_username|capfirst }}
    {% endif %}</a> to <em>Camillus MedHaven Portal!</em></h2>
  <p class="lead">You are on your Dashboard</p>  
    
  <div class="row">
    <div class="card col-sm-6">
      <h3 class="card-header"><a href="{% url 'geriatric-index' %}">Geriatric Section</a></h3>
      <div class="card-body">
        <h5 class="card-title">Senior Living Community</h5>
        <h6 class="card-subtitle text-muted">Caring with hearts in our hands</h6>
      </div>      
		<div id="geria" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#geria" data-slide-to="0" class="active"></li>
		    <li data-target="#geria" data-slide-to="1"></li>
		    <li data-target="#geria" data-slide-to="2"></li>
		  </ul>
		  <!-- The slideshow -->
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img style="height: 200px; width: 100%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Geriatric_medicine_word_cloud.png" alt="Card image">
		    </div>
		    <div class="carousel-item">
		      <img style="height: 200px; width: 100%; display: block;" src="https://www.picpedia.org/highway-signs/images/geriatric-care.jpg" alt="Card image">
		    </div>
		    <div class="carousel-item">
		      <img style="height: 200px; width: 100%; display: block;" src="https://i1.pickpik.com/photos/989/90/549/hospital-assistance-care-for-caretaker-preview.jpg" alt="Card image">
		    </div>
		  </div>
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#geria" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#geria" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>           
      <div class="card-body">
        <p class="card-text">The database has the following record counts:</p>
      </div>
      <ul class="list-group list-group-flush">        
        <a href="{% url 'residents' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Residents</strong>
          <span class="badge badge-primary badge-pill">{{ resident_list.count }}</span> 
        </a>
        <a href="{% url 'relatives' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Relatives</strong>
          <span class="badge badge-primary badge-pill">{{ relative_list.count }}</span>
        </a>
        <a href="{% url 'physicians' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Physicians</strong>
          <span class="badge badge-primary badge-pill">{{ physician_list.count }}</span> 
        </a>    
        <a href="{% url 'drugs' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Drugs</strong>
          <span class="badge badge-primary badge-pill">{{ drug_list.count }}</span> 
        </a>             
        <a href="{% url 'buildings' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Buildings</strong>
          <span class="badge badge-primary badge-pill">{{ building_list.count }}</span> 
        </a>
      </ul>  
    </div>

    <div class="card col-sm-6">
      <h3 class="card-header"><a href="{% url 'hris-index' %}">Human Resource</a></h3>
      <div class="card-body">
        <h5 class="card-title">HRIS</h5>
        <h6 class="card-subtitle text-muted">Human Resource Information System</h6>
      </div>
		<div id="hris" class="carousel slide" data-ride="carousel">		
		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#hris" data-slide-to="0" class="active"></li>
		    <li data-target="#hris" data-slide-to="1"></li>
		    <li data-target="#hris" data-slide-to="2"></li>
		  </ul>		
		  <!-- The slideshow -->
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img style="height: 200px; width: 100%; display: block;" src="https://www.digitalhrtech.com/wp-content/uploads/2019/07/neelie-pic-e1561976169696-900x450.jpg" alt="Card image">
		    </div>
		    <div class="carousel-item">
		      <img style="height: 200px; width: 100%; display: block;" src="https://www.digitalhrtech.com/wp-content/uploads/2018/10/AdobeStock_113080915-1-Converted-1200x600.jpg" alt="Card image">      
		    </div>
		    <div class="carousel-item">
		      <img style="height: 200px; width: 100%; display: block;" src="https://www.poppulo.com/wp-content/uploads/2019/01/objectives-of-human-resource-management.jpg" alt="Card image">
		    </div>
		  </div>		
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#hris" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#hris" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>		
		</div>
      <div class="card-body">
        <p class="card-text">The database has the following record counts:</p>
      </div>
      <ul class="list-group list-group-flush">
        <a href="{% url 'employees' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Employees</strong> 
          <span class="badge badge-primary badge-pill">{{ employee_list.count }}</span>
        </a> 
        <a href="{% url 'positions' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Positions</strong> 
          <span class="badge badge-primary badge-pill">{{ position_list.count }}</span>
        </a> 
        <a href="{% url 'departments' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Departments</strong> 
          <span class="badge badge-primary badge-pill">{{ department_list.count }}</span>
        </a>
      </ul>  
    </div>
  </div>  
  <br>  
  <div class="row">
    <div class="card col-sm-6">
      <h3 class="card-header"><a href="#">Central Supplies</a></h3>
      <div class="card-body">
        <h5 class="card-title">CSU</h5>
        <h6 class="card-subtitle text-muted">Central Supplies Unit</h6>
      </div>      
		<div id="csu" class="carousel slide" data-ride="carousel">		
		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#csu" data-slide-to="0" class="active"></li>
		    <li data-target="#csu" data-slide-to="1"></li>
		    <li data-target="#csu" data-slide-to="2"></li>
		  </ul>		
		  <!-- The slideshow -->
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img style="height: 200px; width: 100%; display: block;" src="https://i.pinimg.com/originals/d5/d3/59/d5d359f23a7b75b5ddb98f8eea3ed95e.jpg" alt="Card image">
		    </div>
		    <div class="carousel-item">
		      <img style="height: 200px; width: 100%; display: block;" src="https://lh3.googleusercontent.com/kH8cDsizHHxRWOamc32LbdHGDbaQ-VWPb7WyZ7sQWfpPbRWyRm00kufl-eyRYRk1z7-K7c3I=w1080-h608-p-no-v0" alt="Card image">
		    </div>
		    <div class="carousel-item">
		      <img style="height: 200px; width: 100%; display: block;" src="https://bradfordsystems.com/wp-content/uploads/2016/04/example_healthcare_materialsmgmt_modularbin.jpg" alt="Card image">
		    </div>
		  </div>		
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#csu" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#csu" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>		
		</div>   
      <div class="card-body">
        <p class="card-text">The database has the following record counts:</p>
      </div>
      <ul class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Items</strong> 
          <span class="badge badge-primary badge-pill">{{ item_list.count }}</span>
        </a> 
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Medical Supplies</strong> 
          <span class="badge badge-primary badge-pill">{{ medicalsupply_list.count }}</span>
        </a> 
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Medical Equipment</strong> 
          <span class="badge badge-primary badge-pill">{{ medicalequipment_list.count }}</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-#-center">
          <strong>Charges</strong> 
          <span class="badge badge-primary badge-pill">{{ charge_list.count }}</span>
        </a>
      </ul>  
    </div>
  </div>     
</div>  
{% endblock %}

{% block footer %}
  {% include 'includes/footer_base.html' %}
{% endblock %}