{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Inventory of Medicines{% endblock %}

{% block page_title %}| Inventory of Medicines{% endblock %}

{% load static %}

{% block sidebar %}
    <p></p>
    {% if user.is_authenticated %}
      {% include 'includes/user.html' %}
    {% endif %}    
    <li class="nav-item"><a class="nav-link" href="{% url 'residents' %}">All residents</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'relatives' %}">All relatives</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'physicians' %}">All physicians</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'medical-abstracts' %}" >All medical abstracts</a></li>    
    <li class="nav-item"><a class="nav-link" href="{% url 'drugs' %}">All drugs</a></li>  
    <li class="nav-item"><a class="nav-link" href="{% url 'buildings' %}">All buildings</a></li>          
    <hr>    
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archive</a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
	      <a class="dropdown-item" href="{% url 'residents-deceased' %}">Deceased residents</a>
	      <a class="dropdown-item" href="{% url 'residents-discharged' %}">Discharged residents</a>
	    </div>
    </li>
    <hr>        
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
		    <a class="dropdown-item active" href="{% url 'residents' %}?reports=maintenance">Inventory of Medicines</a>
		    <a class="dropdown-item" href="{% url 'residents' %}?reports=osca">OSCA Numbers</a>
		    <a class="dropdown-item" href="#">Spiritual Profile</a>
	    </div>
    </li>
{% endblock %}

{% block content %}
<div class="jumbotron">
<button type="button" class="btn btn-outline-info btn-sm">Get printable version</button>
<p></p>

{% for building in building_list %}
<div class="table-responsive"><table class="table table-sm table-hover">
  <thead><h4>{{ building }} - Male</h4></thead>  
  {% include 'includes/maintenance_th.html' %}
  {% for resident in building.resident_set.all  %}
    {% if resident.gender == 'M' and resident.vital_status == 'LI' %}
      {% include 'includes/maintenance_data.html' %}
    {% endif %}
  {% endfor %}
</table></div>

<div class="table-responsive"><table class="table table-sm table-hover">
  <thead><h4>{{ building }} - Female</h4></thead>  
  {% include 'includes/maintenance_th.html' %}
  {% for resident in building.resident_set.all  %}
    {% if resident.gender == 'F' and resident.vital_status == 'LI' %}
      {% include 'includes/maintenance_data.html' %}
    {% endif %}
  {% endfor %}
</table></div>
{% endfor %}
</div>
{% endblock %}