{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Medical Abstract{% endblock %}

{% block page_title %}| Medical Abstract{% endblock %}

{% block nav_resident %}
<li class="nav-item">
  <a class="nav-link" href="{{ medicalabstract.resident.get_absolute_url }}">Resident Profile<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="#">Medical Abstract</a>
</li> 
{% endblock %}

{% block content %}  
  <div class="jumbotron"><h2>Name: {{ medicalabstract.resident.first_name }} 
    {% if medicalabstract.resident.middle_name %}
      {{ medicalabstract.resident.middle_name|first }}.            
    {% endif %} {{ medicalabstract.resident.last_name }}</h2>
  <div class="table-responsive"><table class="table table-hover">
    <thead><h3>General Data</h3></thead>
    <tr>
      <td><strong>Name: </strong>{{ medicalabstract.resident }}</td>          
    </tr> 
    <tr>
      <td><strong>Age: </strong>{{ medicalabstract.resident.birth_date|timesince }}</td>
    </tr>
    <tr>
      <td><strong>Address: </strong>{{ medicalabstract.resident.address }}</td>
    </tr>
    <tr>
    </tr>
      <td><strong>Birthdate: </strong>{{ medicalabstract.resident.birth_date }}</td>
    <tr>
      <td><strong>Birthplace: </strong>{{ medicalabstract.resident.birth_place }}</td>
    </tr>
    <tr>
      <td><strong>Gender: </strong>{{ medicalabstract.resident.get_gender_display }}</td>
    </tr>
    <tr>
      <td><strong>Civil status: </strong>{{ medicalabstract.resident.get_civil_status_display }}</td>
    </tr>
    <tr>
      <td><strong>Religion: </strong>{{ medicalabstract.resident.religion }}</td>
    </tr>
    <tr>
      <td><strong>Most Recent Occupation: </strong>{{ medicalabstract.resident.most_recent_occupation }}</td>    
    </tr>
    <tr>
      <td><strong>Date of Admission: </strong>{{ medicalabstract.resident.admission_date }}</td>
    </tr>    
  </table>
  <table class="table table-hover" >
    <thead><h3>Reason For Confinement</h3></thead>
    <tr>
      <td>{{ medicalabstract.reason_for_confinement }}</td>
    </tr>
  </table>
  <table class="table table-hover" >
    <thead><h3>History of Present Illness</h3></thead>
    <tr>
      <td>{{ medicalabstract.history_of_present_illness }}</td>
    </tr>
  </table>
  <table class="table table-hover" >
    <thead><h3>Course in the Ward</h3></thead>
    <tr>
      <td>{{ medicalabstract.course_in_the_ward|linebreaks }}</td>
    </tr>
  </table></div>
  {% if perms.cm_portal.change_medicalabstract and perms.cm_portal.delete_medicalabstract %}
    <a class="btn btn-primary" href="{% url 'medicalabstract-update' medicalabstract.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'medicalabstract-delete' medicalabstract.id %}" role="button">Delete</a>
  {% elif perms.cm_portal.change_medicalabstract %}
    <a class="btn btn-primary" href="{% url 'medicalabstract-update' medicalabstract.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'medicalabstract-delete' medicalabstract.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'medicalabstract-update' medicalabstract.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'medicalabstract-delete' medicalabstract.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}