{% extends "cm_portal/csu_index.html" %}

{% block title %}| List of Medical Equipment{% endblock %}

{% block page_title %}| List of Medical Equipment{% endblock %}

{% load static %}

<!-- {% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-drugs' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %} -->

{% block sidebar %}
  <p></p>
  {% if user.is_authenticated %}
    {% include 'includes/user.html' %}
  {% endif %}  
  <li class="nav-item"><a class="nav-link" href="{% url 'items' %}">All items</a></li>  
  <li class="nav-item"><a class="nav-link" href="{% url 'medical-supplies' %}">All medical supplies</a></li>  
  <li class="nav-item"><a class="nav-link active" href="{% url 'medical-equipment' %}">All medical equipment</a></li>  
  <li class="nav-item"><a class="nav-link" href="{% url 'charges' %}">All charges</a></li>  
{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if medicalequipment_list %}    
    <ul class="list-group">
      {% for medicalequipment in medicalequipment_list %}
        <!-- <li class="list-group-item">
        {% if medicalequipment.item.brand_name %}
        <h4 class="list-group-item-heading">{{ medicalequipment.item.brand_name }}</h4>
        {% endif %}
        <a href="{{ medicalequipment.get_absolute_url }}">
        {{ medicalequipment.item.item_name }}        
        </a>   
        </li> -->
        <a href="{{ medicalequipment.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
	        <h5 class="list-group-item-heading">{{ medicalequipment.item.item_name }}</h5>          
           <div class="d-flex w-100 justify-content-between">
	           {% if medicalequipment.item.brand_name %}
	             <small class="text-muted">{{ medicalequipment.item.brand_name }}</small>
	           {% else %}
	             <small class="text-muted"></small>
	           {% endif %}
	           <span class="badge badge-primary badge-pill">{{ medicalequipment.stocks_available }}</span>
           </div>                
        </a>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no medical equipment in the portal.</p>  
  {% endif %}
  <br>  
  {% if is_paginated %}
    {% include 'includes/pagination.html' %}
  {% endif %}
  {% if perms.cm_portal.add_medicalequipment %}
    <a class="btn btn-primary" href="{% url 'medicalequipment-create' %}" role="button">Add a medical equipment</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'medicalequipment-create' %}" role="button">Add a medical equipment</a>
  {% endif %}
  </div>
{% endblock %}