{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Medication{% endblock %}

{% block page_title %}| Medication{% endblock %}

{% block content %}
<div class="card border-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <a href="{{ medication.resident.get_absolute_url }}">{{ medication.resident.last_name }}, {{ medication.resident.first_name }}
            {% if medication.resident.middle_name %}
              {{ medication.resident.middle_name|first }}.
            {% endif %}</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <a href="{{ medication.medicine.get_absolute_url }}">{{ medication.medicine }}</a>
    </h4>
    <p><strong>Frequency: </strong>{{ medication.frequency }}</p>
    <p><strong>Quantity: </strong>{{ medication.quantity }}</p>
    <p><strong>Due: </strong>{{ medication.due }}</p>
    {% if perms.cm_portal.change_medication and perms.cm_portal.delete_medication %}
      <a class="btn btn-primary" href="{% url 'medication-update' medication.id %}" role="button">Edit</a>
      <a class="btn btn-danger" href="{% url 'medication-delete' medication.id %}" role="button">Delete</a>
    {% elif perms.cm_portal.change_medication %}
      <a class="btn btn-primary" href="{% url 'medication-update' medication.id %}" role="button">Edit</a>
      <a class="btn btn-danger disabled" href="{% url 'medication-delete' medication.id %}" role="button">Delete</a>
    {% else %}
      <a class="btn btn-primary disabled" href="{% url 'medication-update' medication.id %}" role="button">Edit</a>
      <a class="btn btn-danger disabled" href="{% url 'medication-delete' medication.id %}" role="button">Delete</a>
    {% endif %}
  </div>
</div>
{% endblock %}