{% extends "cm_portal/csu_index.html" %}

{% block title %}| List of Medical Supplies{% endblock %}

{% block page_title %}| List of Medical Supplies{% endblock %}

{% load static %}

<!-- {% block search_form %}
  <form class="navbar-form navbar-right" id="search-form" action="{% url 'search-drugs' %}" method="get">
    {{ form.as_p }}            
  </form>        
{% endblock %} -->

{% block content %}
  <div class="jumbotron">
  <div class="table-responsive">
  {% load django_tables2 %}
  {% render_table table %}
  </div>    
  <br> 
  {% if perms.cm_portal.add_medicalsupply %}
    <a class="btn btn-primary" href="{% url 'medicalsupply-create' %}" role="button">Add a medical supply</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'medicalsupply-create' %}" role="button">Add a medical supply</a>
  {% endif %}
  </div>
{% endblock %}