{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Physician Profile{% endblock %}

{% block page_title %}| Physician Profile{% endblock %}
{% block content %}  
  <div class="jumbotron"><h2>Name: {{ physician.first_name }}
    {% if physician.middle_name %}
      {{ physician.middle_name|first }}.            
    {% endif %}  
    {{ physician.last_name }}, MD</h2>
  <div class="table-responsive"><table class="table table-hover">    
    <tr><td><strong>Surname: </strong>{{ physician.last_name }}</td></tr>
    <tr><td><strong>First Name: </strong>{{ physician.first_name }}</td></tr>
    <tr><td><strong>Middle Name: </strong>{{ physician.middle_name }}</td></tr>
  </table></div>  
  <div style="margin-left:20px;margin-top:20px">
    <div class="table-responsive"><table class="table table-hover">
        <thead>
          <tr>
            <th><strong>Contact #</strong></th>
            <th><strong>Hospital of Choice</strong></th>          
          </tr>          
        </thead>    
        <tbody>          
          <tr>
            <td>{{ physician.telephone }}</td>
            <td>{{ physician.hospital_of_choice }}</td>      
          </tr>
        </tbody>    
    </table></div>
  </div>
  {% if perms.cm_portal.change_physician and perms.cm_portal.delete_physician %}
    <a class="btn btn-primary" href="{% url 'physician-update' physician.id %}" role="button">Edit</a>  
    <a class="btn btn-danger" href="{% url 'physician-delete' physician.id %}" role="button">Delete</a>  
  {% elif perms.cm_portal.change_physician %}
    <a class="btn btn-primary" href="{% url 'physician-update' physician.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'physician-delete' physician.id %}" role="button">Delete</a>
  {% else %}
    <a class="btn btn-primary disabled" href="{% url 'physician-update' physician.id %}" role="button">Edit</a>  
    <a class="btn btn-danger disabled" href="{% url 'physician-delete' physician.id %}" role="button">Delete</a>
  {% endif %}</div>
{% endblock %}