<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#rebuschini">Blessed Enrico Rebuschini</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tezza">Blessed Luigi Tezza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#first">St. Camillus - First Floor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#second">St. Camillus - Second Floor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#three">Building 3</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="rebuschini">
    <ul class="list-group">
    {% for resident in rebuschini %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="tezza">
    <ul class="list-group">
    {% for resident in tezza %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>    
  </div>
  <div class="tab-pane fade" id="first">
    <ul class="list-group">
    {% for resident in first_floor %}        
      {% include 'cm_portal/resident_list_item.html' %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="second">
    <ul class="list-group">
    {% for resident in second_floor %}        
      {% include 'cm_portal/resident_list_item.html' with building=True %}        
    {% endfor%}
    </ul>
  </div>
  <div class="tab-pane fade" id="three">
    <ul class="list-group">
      {% for resident in bldg_three %}
        {% include 'cm_portal/resident_list_item.html' with building=True %}
      {% endfor %}
    </ul>
  </div>
</div>