{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Residents{% endblock %}

{% block page_title %}| List of Residents{% endblock %}

{% block external %}
  <script type="text/javascript" src="/static/js/obj_list.js"></script>
{% endblock %}

{% block sidebar %}
    <p></p>
    {% if user.is_authenticated %}
      {% include 'includes/user.html' %}
    {% endif %}    
    {% include 'includes/geria_sidebar.html' %}
{% endblock %} 

{% block content %}
  <div class="jumbotron">
    <div class="table-responsive">
    {% load django_tables2 %}
    {% render_table table %}
    </div>    
    <br>
    {% if perms.cm_portal.add_resident %}
      <a class="btn btn-primary" href="{% url 'resident-create' %}" role="button">Add a resident</a>
    {% else %}
      <a class="btn btn-primary disabled" href="{% url 'resident-create' %}" role="button">Add a resident</a>
    {% endif %}
  </div>
{% endblock %}
