<div class="table-responsive"><table class="table table-hover">
	<tr>          
	    <th scope="col">Medicine</th>
	    <th scope="col">Dosage</th>
	    <th scope="col">Frequency</th>
	    <th scope="col">Quantity</th>
	    <th scope="col">Due</th>
	    <th scope="col">Last Modified</th>    
	</tr>
	{% for meds in resident.medication_set.all %}            
	<tr>
		<td><a target="_blank" rel="noopener noreferrer" href="{{ meds.get_absolute_url }}">{{ meds.medicine.generic_name }}
		{% if meds.medicine.brand_name %}({{ meds.medicine.brand_name }}){% endif %}</a>
		</td>
		<td>{{ meds.medicine.dosage }}</td>
		<td>{{ meds.frequency }}</td>
		<td>{% if meds.quantity %}<span class="badge badge-primary badge-pill">{{ meds.quantity }}</span>{% endif %}</td>    
		<td>{% if meds.due %}{{ meds.due }}{% endif %}</td>
		<td>{{ meds.last_modified }}</td>
	</tr>              
	{% endfor %}
</table></div>