{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| Update Resident{% endblock %}

{% block page_title %}| Update Resident{% endblock %}

{% block content %}  
  <div class="jumbotron">
     {% if diet %}
     <h2>{{ resident.first_name }} {{ resident.last_name }}'s</h2>
     {% endif %}
	  <form method="post" novalidate>
		  {% csrf_token %}
		  {% include 'includes/bs4_form.html' with form=form %}
		  <input class="btn btn-success" type="submit" value="Update" />
	  </form>
  </div>    
{% endblock %}
