{% extends "cm_portal/geriatric_index.html" %}

{% block title %}| List of Resident Weights{% endblock %}

{% block page_title %}| List of Resident Weights{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if residentweight_list %}    
    <div class="list-group">
      {% for residentweight in residentweight_list %}
        {% include 'includes/residentweight_list_item.html' %}
      {% endfor %}
    </div>    
    {% else %}
      <p>There are no resident weights in the portal.</p>  
  {% endif %} 
  <br>
  {% if is_paginated %}
    {% include 'includes/pagination.html' %}
  {% endif %}
  {% if perms.cm_portal.add_residentweight %}
    <a class="btn btn-primary" href="{% url 'residentweight-create' %}" role="button">Add resident weight</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="{% url 'residentweight-create' %}" role="button">Add resident weight</a>
  {% endif %}
  </div>
{% endblock %}